.mainContainer {
  padding-top: 30px;
  padding-bottom: 60px;
}

.imageWrapper {
  width: 100%;
}

.textContainer h1 {
  font-family: var(--font-anton);
  font-weight: 1000;
  font-size: 3rem;
  color: #4A7729;
}

.textContainer p {
  font-family: var(--font-kalam), sans-serif;
  font-size: 1.45rem;
  color: #5E4B3C;
}