.card {
  background-color: #fff8f1; /* or any color you want */
}
.burgerCardTitle {
      font-family: var(--font-anton);
      font-weight: 400;
      font-size: 2rem; /* increase as needed */
      color: #4A7729
;
      text-align: center;

}
.burgerCardImageWrapper{
 transition: transform 0.3s ease;
}
.burgerCardImageWrapper:hover {
    transform: scale(1.1);
  z-index: 1;
}
.burgerCardIngredients {
  font-family: var(--font-kalam), sans-serif;
    color: #5E4B3C;
     text-align: center;
}
.burgerCardPrice {
font-family: var(--font-oswald), sans-serif;
   /*  font-family: var(--font-anton); */
    color: #4A7729;
    text-align: center;
}
.burgerCardPrice{
    font-weight: 900;
font-family: var(--font-oswald), sans-serif;
  color: #4A7729;
  text-align: center;
  margin-top: auto; /* Push it to bottom */
}
.burgerCardBody {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.planeImage {
  position: absolute;
  top:0%;       /* adjust as needed */
  left:0%;     /* adjust as needed */
  z-index: 10;     /* higher than the content */
  pointer-events: none; /* optional: so clicks pass through */
}