.filterBar {
 
  display: flex;
  align-items: center;   /* vertically centers children */
  justify-content: center;
  align-items: center;
  font-family: var(--font-anton);
  z-index: 1000;

}
.filterControls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem; /* Add gap between filter buttons and reset */
   justify-content: center;
}
/* Shared button styles */
.button {
  background-color: #7BA6DE;
  color: #fff6ea !important;
  border: none;

  font-size: 1rem;

  font-family: var(--font-anton);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
   height: 100%;
  max-height: 5vh;
  box-sizing: border-box;
  line-height: 1;
}
.resetButton {
  background-color: #5E4B3C;
  color: #fff6ea;
  border: 1px solid transparent;
  padding: 0.130rem 0.65rem; /* Bootstrap standard */
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.375rem;
  font-family: var(--font-anton);
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.resetButton:hover {
  background-color: #00c9ad;
}
/* VEGAN */
.vegan:hover {
  background-color: #1e7e34 !important;
}
/* CHICKEN */
.chicken:hover {
  background-color: #c66600 !important;
}
/* BEEF */
.beef:hover {
  background-color: #a71d2a !important;
}

/* MEDIUM SPICY */
.mediumSpicy:hover {
  background-color: #e07000 !important;
}

/* SPICY */
.spicy:hover {
  background-color: #c62400 !important;
}

/* FISH */
.fish:hover {
  background-color: #117a8b;
}
/* Responsive shrink on mobile */
@media (max-width: 768px) {
  .button {
    font-size: 0.7rem;       /* smaller text */
    padding: 0.5rem 0.4rem;  /* less padding */
  }

  .resetButton {
    font-size: 0.7rem;
    padding: 0.5rem 0.4rem;
  }

  .filterControls {
    gap: 0.3rem;
  }
}