.imageWrapper {
  position: relative;
  width: 100%;
  height: 250px;
  margin-bottom: 0rem;
  border-radius: 3px;
  overflow: hidden;
  background-color: #edd5c3;
}
.imageWrapperWithOrigin{
  position: relative;
  width: 100%;
  height: 250px;
  margin-bottom: 0rem;
  border-radius: 3px;
  overflow: hidden;
}
.modalHeader {
 background-color:  #5E4B3C;
}
.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 10px;
}
.categoryIcons {
  display: flex;
  gap: 6px;
}

.description {
  color: #555;
  margin-bottom: 1rem;
}

.ingredients {
  list-style: disc;
  padding-left: 1rem;
  margin: 0;
}

.ingredients li::before {
  margin-right: 3px;
}
.modalContent {
  max-height: 95vh; /* or whatever height you prefer */
  background-color: #edd5c3;
    display: flex;            /* add this */
  flex-direction: column;   /* add this */
}
.modalTitle {
  font-family: var(--font-anton);
  font-weight: 300;
  font-size: 2rem; /* increase as needed */
  color: #edd5c3;

}
.modalBody {
    flex-grow: 1;         /* fill available space */
  overflow-y: auto;     /* scroll if content too tall */
  padding-right: 1rem;  /* optional, room for scrollbar */
}
.modalBody , .modalBody p  {
      font-family: var(--font-oswald), sans-serif;
  font-family: var(--font-kalam);
   /*  font-family: var(--font-anton); */
    color:  #5E4B3C;
    font-size: 1rem; /* increase as needed */
}
.modalBody p {
   
  font-size: 1rem;

}
.modalBody h5{
  font-family: var(--font-anton);
  font-weight: 300;
  font-size: 1.2rem; /* increase as needed */
  color: #4A7729;
}
.reserveButton {
  background-color:  #7BA6DE;     
  border: none;                  /* optional: remove border */
  color: #edd5c3;                  /* white text */
  font-family: var(--font-anton);
  font-size: 1.1rem;             /* adjust size if needed */
  padding: 0.5rem 1.2rem;        /* spacing around text */
  border-radius: 6px;            /* optional: round corners */
  transition: background-color 0.2s ease;
}
.reserveButton:hover,
.reserveButton:focus {
  background-color: #a93226;     /* darker red on hover */
  color: white;
}
.goToMenuButton {
  background-color: #4A7729;     
  border: none;                  /* optional: remove border */
  color:  #edd5c3;                  /* white text */
  font-family: var(--font-anton);
  font-size: 1.1rem;             /* adjust size if needed */
  padding: 0.5rem 1.2rem;        /* spacing around text */
  border-radius: 6px;            /* optional: round corners */
  transition: background-color 0.2s ease;
}

.goToMenuButton:hover,
.goToMenuButton:focus {
  background-color: #a93226;     /* darker red on hover */
  color: white;
}
.modalFooter {
  display: flex;
  justify-content: space-between;
}
.modalWrapper {
  position: relative;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -10;
  pointer-events: none;
}

.modalContent {
  position: relative;
  z-index: 1;
  overflow: hidden;
  max-height: 95vh;
  background-color: #edd5c3;
  display: flex;
  flex-direction: column;
}
