.card {
  width: 150px;
  flex-shrink: 1;
  min-width: 0;
  box-sizing: border-box;
}

.imageWrapper {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
   transition: transform 0.3s ease;
}

.name {
   font-family: var(--font-anton);
      font-weight: 300;
      font-size: 1rem; /* increase as needed */
      color: #005b48;
      text-align: center;
}

.description {
  font-family: var(--font-oswald), sans-serif;
   /*  font-family: var(--font-anton); */
   font-family: var(--font-kalam);
    color: #005b48;
    text-align: center;
}
.imageWrapper:hover {
  transform: scale(1.1);
  z-index: 10;
}
.origin {
    font-family: var(--font-oswald), sans-serif;
    font-family: var(--font-kalam);
   /*  font-family: var(--font-anton); */
font-size: 1rem;
font-weight: 900;
      color: #005b48;
      text-align: center;
}